/node_modules
/public/hot
/public/storage
/zzz/
/storage/*.key
/uploads
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.idea
/nbproject
*.zip
*.sql
credentials.txt